<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #cce6e3;
            margin: 0;
        }

        .loginbar {
            text-align: center;
            padding-top: 25px;
            padding-bottom: 50px;
        }

        .loginbutton {
            border-radius: 5px;
            padding: 50px;
            margin: 20px;
            text-decoration: none;
            font-size: 25px;
            font-weight: 600;
            color: white;
            background-color: #e8a87c;
        }

        .logintext {
            font-size: 20px;
            font-weight: 600;
            color: #e3935e;
        }

        .loginbutton:hover {
            color: white;
            background-color: #e27d60;
        }

        .functionbar {
            text-align: center;
            padding-top: 80px;
            padding-bottom: 50px;
        }

        .functionbutton {
            border-radius: 5px;
            padding: 5px 15px;
            margin: 20px;
            text-decoration: none;
            color: white;
            background-color: #c38d9e;
        }

        .functionbutton:hover {
            color: white;
            background-color: #e27d60;
        }

        .title {
            padding-top: 50px;
            padding-bottom: 25px;
            text-align: center;
            color: white;
            background-color: #41b3a3;
        }

        #maintitle {
            font-weight: 800;
            font-size: 40px;
        }

    </style>
</head>
<body>
    <div class="title">
        <p id="classid">CPSC 304</p>
        <p id="maintitle">Job Posting Application</p>
    </div>

    <div class="loginbar">
        <p class="logintext">Log In As</p><br><br><br>
        <a href="/applicant" class="loginbutton">Applicant</a>
        <a href="/employee" class="loginbutton">Employee</a>
    </div>
    
    <div class="functionbar">
        <p><a href="/userLookup" class="functionbutton">User lookup</a></p>
        <!-- <p><a href="/companyaggregation" class="functionbutton">Company Aggregation</a></p> -->
    </div>
    
    
</body>
</html>
