<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Offer Created Successfully</h1>
    
    <form action="./viewApplication" method="post">
        <button type="submit" formaction="/employee/viewApplication" value="<%=applicationid%>" name="applicationid">Back to Application</button>
    </form>

    <a href="/employee/companyView">Back to View</a>
</body>
</html>
